project.xcworkspace/contents.xcworkspacedata
project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
xcuserdata/paulgreyson.xcuserdatad/xcschemes/ios.xcscheme
xcuserdata/paulgreyson.xcuserdatad/xcschemes/xcschememanagement.plist
*.mode1v3
*.pbxuser