<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>f5 Universal Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>f5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE115AF9149E884800613634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE115AFF149E88B500613634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEEE07AD149E7E230010ABF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEEE07BD149E7E230010ABF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEEE07EA149E83980010ABF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
