/**
 * Based on jsonview by Benjamin Hollis
 * 
 * https://github.com/bhollis/jsonview
 *
 * MIT License
 *
 */

.prop {
  font-weight: bold;
}

.null {
  color: red;
}

.bool {
  color: blue;
}

.num {
  color: blue;
}

.string {
  color: green;
  white-space: pre-wrap;
}

.collapser {
  position: absolute;
  left: -.12em;
  cursor: pointer;
  -webkit-user-select: none;
}

.q {
  display: inline-block;
  width: 0px;
  color: transparent;
}

li {
  position: relative;
}

.json {
  font-family: monospace;
  font-size: .14em;
  white-space: pre-wrap;
}

ul {
  list-style: none;
  margin: 0 0 0 .24em;
  padding: 0;
}

h1 {
  font-size: .14em;
}