/**
 * Based on jsonview by Benjamin Hollis
 * 
 * https://github.com/bhollis/jsonview
 *
 * MIT License
 *
 */

.prop {
  color: lightgreen;
}

.null {
  color: darkred;
}

.bool {
  color: lightblue;
}

.num {
  color: lightblue;
}

.string {
  color: white;
  white-space: pre-wrap;
}

.reference {
  color: lightgreen;
  white-space: pre-wrap;
}

.collapser {
  position: absolute;
  left: -1em;
  cursor: pointer;
  -webkit-user-select: none;
  color: yellow;
}

/*
.q {
  display: inline-block;
  width: 0px;
}
*/

li {
  position: relative;
	color: grey;
}

.json {
  font-family: "Consolas", monospace;
  font-size: .16em;
  white-space: pre-wrap;
}

ul {
  list-style: none;
  margin: 0 0 0 1em;
  padding: 0;
}